.shine-btn {
  position: relative;
  z-index: 2;

  background: rgba(180, 20, 40, 0.25);
  color: #fff5f7;

  border: 1px solid rgba(255, 180, 200, 0.7);

  padding: 20px 64px;
  font-size: 1.6rem;
  letter-spacing: 5px;
  text-transform: uppercase;

  cursor: pointer;

  backdrop-filter: blur(8px);

  transition: all 0.45s ease;

  isolation: isolate;
}


.shine-btn::before {
  content: "";
  position: absolute;
  inset: -8px;

  border-radius: 10px;

  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 120, 160, 0.45),
    rgba(255, 215, 170, 0.45),
    transparent
  );

  opacity: 0.5;
  filter: blur(14px);

  z-index: -1;
}

.shine-btn:hover {
  letter-spacing: 8px;
  border-color: #ffb6c9;
}

.shine-btn:active {
  transform: scale(0.95);
}

.shine-btn:hover {
  background: rgba(120, 0, 20, 0.6);
  color: #ffffff;
}

/* ================= INTRO ================= */

.intro {
  position: fixed;
  inset: 0;

  background: radial-gradient(
    circle at center,
    #631422 0%,
    #1b0509 45%,
    #000000 80%
  );

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  z-index: 10;
}


.light-overlay {
  position: absolute;

  width: 220vmax;
  height: 220vmax;

  background: radial-gradient(
    circle,
    rgba(255, 220, 230, 0.95) 0%,
    rgba(255, 190, 210, 0.85) 30%,
    rgba(255, 215, 170, 0.6) 45%,
    rgba(0, 0, 0, 0.9) 65%
  );

  transform: scale(0);
  opacity: 0;

  transition:
    transform 2.6s ease-out,
    opacity 2.2s ease-out;

  border-radius: 50%;
}

.hearts {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 1;
}

.heart {
  position: absolute;
  bottom: -20px;

  font-size: 18px;
  color: rgba(255, 150, 180, 0.9);

  animation: floatHeart linear infinite;
  filter: drop-shadow(0 0 6px rgba(255, 120, 160, 0.6));
  opacity: 0;
}

/* variações */
.heart:nth-child(odd) {
  color: rgba(255, 190, 210, 0.9);
}

.heart:nth-child(3n) {
  color: rgba(255, 215, 170, 0.85);
}

/* animação */
@keyframes floatHeart {
  0% {
    transform: translateY(0) scale(0.6);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  50% {
    transform: translateY(-50vh) scale(1);
  }

  100% {
    transform: translateY(-110vh) scale(1.2);
    opacity: 0;
  }
}