html {
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  overflow-x: hidden;
  overscroll-behavior: none;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background: #000;
  color: #fff;
}
.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1.6s ease, transform 1.6s ease;
}
/* quando ativado */
.content.visible {
  opacity: 1;
  transform: translateY(0);
}
